In [64]:
! pip list

Package         Version   Editable project location
--------------- --------- ------------------------------------------------------------------------------------------------------------
diabetes        0.1.0     /Users/dyada/Desktop/BSE/Computing for Data Science/homeworks/hm5/homework-5-computing-data-science/diabetes
geographiclib   2.0
geopy           2.3.0
joblib          1.2.0
numpy           1.23.4
pandas          1.5.1
pip             22.3.1
python-dateutil 2.8.2
pytz            2022.6
scikit-learn    1.1.3
scipy           1.9.3
setuptools      65.3.0
six             1.16.0
sklearn         0.0.post1
threadpoolctl   3.1.0
wheel           0.37.1

In [65]:
import sys
package_path = '/Users/dyada/Desktop/BSE/Computing for Data Science/homeworks/hm5/homework-5-computing-data-science/diabetes/'
sys.path.append(package_path)

In [66]:
from diabetes.data.load import from_csv
from diabetes.processing.train_test import split
from diabetes.processing.na import drop, fill
from diabetes.processing.dummy import generate, binarize
from diabetes.training.model import train, predict
from diabetes.evaluating.score import roc_auc

In [67]:
X_FEATURES = ['age', 'height', 'weight', 'aids', 'cirrhosis', 'hepatic_failure',
'immunosuppression', 'leukemia', 'lymphoma', 'solid_tumor_with_metastasis']

#### a. Load the data.

In [68]:
df = from_csv(package_path + 'data/sample_diabetes_mellitus_data.csv')

print(df)

      encounter_id  hospital_id   age        bmi  elective_surgery  \
0           214826          118  68.0  22.732803                 0
1           246060           81  77.0  27.421875                 0
2           276985          118  25.0  31.952749                 0
3           262220          118  81.0  22.635548                 1
4           201746           33  19.0        NaN                 0
...            ...          ...   ...        ...               ...
9995        167042          140   NaN  51.952814                 0
9996        165009           89  34.0  26.110113                 0
9997        234052          137  30.0  23.774241                 0
9998        249290           89  67.0  31.330708                 0
9999        151312           89  55.0  44.343663                 0

            ethnicity gender  height hospital_admit_source  \
0           Caucasian      M  180.30                 Floor
1           Caucasian      F  160.00                 Floor
2           Caucasian      F  172.70  Emergency Department
3           Caucasian      F  165.10        Operating Room
4           Caucasian      M  188.00                   NaN
...               ...    ...     ...                   ...
9995        Caucasian      F  137.20                 Floor
9996        Caucasian      F  175.26  Emergency Department
9997  Native American      F  157.48  Emergency Department
9998        Caucasian      F  157.48          Direct Admit
9999        Caucasian      F  157.50  Emergency Department

               icu_admit_source  ...  ventilated_apache wbc_apache aids  \
0                         Floor  ...                  0       14.1    0
1                         Floor  ...                  1       12.7    0
2          Accident & Emergency  ...                  0        NaN    0
3     Operating Room / Recovery  ...                  1        8.0    0
4          Accident & Emergency  ...                  0        NaN    0
...                         ...  ...                ...        ...  ...
9995                      Floor  ...                  0        7.0    0
9996       Accident & Emergency  ...                  0        9.5    0
9997       Accident & Emergency  ...                  0        NaN    0
9998       Accident & Emergency  ...                  0        6.4    0
9999       Accident & Emergency  ...                  1        NaN    0

      cirrhosis  hepatic_failure  immunosuppression  leukemia  lymphoma  \
0             0                0                  0         0         0
1             0                0                  0         0         0
2             0                0                  0         0         0
3             0                0                  0         0         0
4             0                0                  0         0         0
...         ...              ...                ...       ...       ...
9995          0                0                  0         0         0
9996          0                0                  0         0         0
9997          0                0                  0         0         0
9998          0                0                  0         0         0
9999          0                0                  0         0         0

      solid_tumor_with_metastasis  diabetes_mellitus
0                               0                  1
1                               0                  1
2                               0                  0
3                               0                  0
4                               0                  0
...                           ...                ...
9995                            0                  0
9996                            0                  0
9997                            0                  0
9998                            0                  0
9999                            0                  0

[10000 rows x 52 columns]

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 52 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 10000 non-null  int64
 1   hospital_id                  10000 non-null  int64
 2   age                          9595 non-null   float64
 3   bmi                          8262 non-null   float64
 4   elective_surgery             10000 non-null  int64
 5   ethnicity                    9758 non-null   object
 6   gender                       9997 non-null   object
 7   height                       9840 non-null   float64
 8   hospital_admit_source        9082 non-null   object
 9   icu_admit_source             9979 non-null   object
 10  icu_id                       10000 non-null  int64
 11  icu_stay_type                10000 non-null  object
 12  icu_type                     10000 non-null  object
 13  pre_icu_los_days             10000 non-null  float64
 14  readmission_status           10000 non-null  int64
 15  weight                       8342 non-null   float64
 16  albumin_apache               3539 non-null   float64
 17  apache_2_diagnosis           9820 non-null   float64
 18  apache_3j_diagnosis          9949 non-null   float64
 19  apache_post_operative        10000 non-null  int64
 20  arf_apache                   10000 non-null  int64
 21  bilirubin_apache             3408 non-null   float64
 22  bun_apache                   7479 non-null   float64
 23  creatinine_apache            7611 non-null   float64
 24  fio2_apache                  2913 non-null   float64
 25  gcs_eyes_apache              9931 non-null   float64
 26  gcs_motor_apache             9931 non-null   float64
 27  gcs_unable_apache            9935 non-null   float64
 28  gcs_verbal_apache            9931 non-null   float64
 29  glucose_apache               8915 non-null   float64
 30  heart_rate_apache            9999 non-null   float64
 31  hematocrit_apache            7994 non-null   float64
 32  intubated_apache             10000 non-null  int64
 33  map_apache                   9987 non-null   float64
 34  paco2_apache                 2913 non-null   float64
 35  paco2_for_ph_apache          2913 non-null   float64
 36  pao2_apache                  2913 non-null   float64
 37  ph_apache                    2913 non-null   float64
 38  resprate_apache              9961 non-null   float64
 39  sodium_apache                7534 non-null   float64
 40  temp_apache                  9899 non-null   float64
 41  urineoutput_apache           1523 non-null   float64
 42  ventilated_apache            10000 non-null  int64
 43  wbc_apache                   7802 non-null   float64
 44  aids                         10000 non-null  int64
 45  cirrhosis                    10000 non-null  int64
 46  hepatic_failure              10000 non-null  int64
 47  immunosuppression            10000 non-null  int64
 48  leukemia                     10000 non-null  int64
 49  lymphoma                     10000 non-null  int64
 50  solid_tumor_with_metastasis  10000 non-null  int64
 51  diabetes_mellitus            10000 non-null  int64
dtypes: float64(29), int64(17), object(6)
memory usage: 4.0+ MB

## c. Remove those rows that contain NaN values in the columns: age, gender, ethnicity.

In [70]:
df = drop(df, columns_l = ['age', 'gender', 'ethnicity'])

print('NaNs dropped in age, gender, ethnicity columns>>>>\n', df)

NaNs dropped in age, gender, ethnicity columns>>>>
       encounter_id  hospital_id   age        bmi  elective_surgery  \
0           214826          118  68.0  22.732803                 0
1           246060           81  77.0  27.421875                 0
2           276985          118  25.0  31.952749                 0
3           262220          118  81.0  22.635548                 1
4           201746           33  19.0        NaN                 0
...            ...          ...   ...        ...               ...
9994        271449           89  78.0  28.700475                 0
9996        165009           89  34.0  26.110113                 0
9997        234052          137  30.0  23.774241                 0
9998        249290           89  67.0  31.330708                 0
9999        151312           89  55.0  44.343663                 0

            ethnicity gender  height hospital_admit_source  \
0           Caucasian      M  180.30                 Floor
1           Caucasian      F  160.00                 Floor
2           Caucasian      F  172.70  Emergency Department
3           Caucasian      F  165.10        Operating Room
4           Caucasian      M  188.00                   NaN
...               ...    ...     ...                   ...
9994        Caucasian      F  172.70  Emergency Department
9996        Caucasian      F  175.26  Emergency Department
9997  Native American      F  157.48  Emergency Department
9998        Caucasian      F  157.48          Direct Admit
9999        Caucasian      F  157.50  Emergency Department

               icu_admit_source  ...  ventilated_apache wbc_apache aids  \
0                         Floor  ...                  0       14.1    0
1                         Floor  ...                  1       12.7    0
2          Accident & Emergency  ...                  0        NaN    0
3     Operating Room / Recovery  ...                  1        8.0    0
4          Accident & Emergency  ...                  0        NaN    0
...                         ...  ...                ...        ...  ...
9994       Accident & Emergency  ...                  0        NaN    0
9996       Accident & Emergency  ...                  0        9.5    0
9997       Accident & Emergency  ...                  0        NaN    0
9998       Accident & Emergency  ...                  0        6.4    0
9999       Accident & Emergency  ...                  1        NaN    0

      cirrhosis  hepatic_failure  immunosuppression  leukemia  lymphoma  \
0             0                0                  0         0         0
1             0                0                  0         0         0
2             0                0                  0         0         0
3             0                0                  0         0         0
4             0                0                  0         0         0
...         ...              ...                ...       ...       ...
9994          0                0                  0         0         0
9996          0                0                  0         0         0
9997          0                0                  0         0         0
9998          0                0                  0         0         0
9999          0                0                  0         0         0

      solid_tumor_with_metastasis  diabetes_mellitus
0                               0                  1
1                               0                  1
2                               0                  0
3                               0                  0
4                               0                  0
...                           ...                ...
9994                            0                  0
9996                            0                  0
9997                            0                  0
9998                            0                  0
9999                            0                  0

[9368 rows x 52 columns]

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9368 entries, 0 to 9999
Data columns (total 52 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 9368 non-null   int64
 1   hospital_id                  9368 non-null   int64
 2   age                          9368 non-null   float64
 3   bmi                          7746 non-null   float64
 4   elective_surgery             9368 non-null   int64
 5   ethnicity                    9368 non-null   object
 6   gender                       9368 non-null   object
 7   height                       9241 non-null   float64
 8   hospital_admit_source        8518 non-null   object
 9   icu_admit_source             9347 non-null   object
 10  icu_id                       9368 non-null   int64
 11  icu_stay_type                9368 non-null   object
 12  icu_type                     9368 non-null   object
 13  pre_icu_los_days             9368 non-null   float64
 14  readmission_status           9368 non-null   int64
 15  weight                       7812 non-null   float64
 16  albumin_apache               3322 non-null   float64
 17  apache_2_diagnosis           9191 non-null   float64
 18  apache_3j_diagnosis          9319 non-null   float64
 19  apache_post_operative        9368 non-null   int64
 20  arf_apache                   9368 non-null   int64
 21  bilirubin_apache             3198 non-null   float64
 22  bun_apache                   6996 non-null   float64
 23  creatinine_apache            7121 non-null   float64
 24  fio2_apache                  2785 non-null   float64
 25  gcs_eyes_apache              9303 non-null   float64
 26  gcs_motor_apache             9303 non-null   float64
 27  gcs_unable_apache            9307 non-null   float64
 28  gcs_verbal_apache            9303 non-null   float64
 29  glucose_apache               8360 non-null   float64
 30  heart_rate_apache            9367 non-null   float64
 31  hematocrit_apache            7489 non-null   float64
 32  intubated_apache             9368 non-null   int64
 33  map_apache                   9356 non-null   float64
 34  paco2_apache                 2785 non-null   float64
 35  paco2_for_ph_apache          2785 non-null   float64
 36  pao2_apache                  2785 non-null   float64
 37  ph_apache                    2785 non-null   float64
 38  resprate_apache              9335 non-null   float64
 39  sodium_apache                7047 non-null   float64
 40  temp_apache                  9283 non-null   float64
 41  urineoutput_apache           1387 non-null   float64
 42  ventilated_apache            9368 non-null   int64
 43  wbc_apache                   7314 non-null   float64
 44  aids                         9368 non-null   int64
 45  cirrhosis                    9368 non-null   int64
 46  hepatic_failure              9368 non-null   int64
 47  immunosuppression            9368 non-null   int64
 48  leukemia                     9368 non-null   int64
 49  lymphoma                     9368 non-null   int64
 50  solid_tumor_with_metastasis  9368 non-null   int64
 51  diabetes_mellitus            9368 non-null   int64
dtypes: float64(29), int64(17), object(6)
memory usage: 3.8+ MB

## d. Fill NaN with the mean value of the column in the columns: height, weight.

In [72]:
df = fill(df, columns_l = ['height', 'weight'])
print('NaNs filled with means for height, weight columns>>>>\n', df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9368 entries, 0 to 9999
Data columns (total 52 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 9368 non-null   int64
 1   hospital_id                  9368 non-null   int64
 2   age                          9368 non-null   float64
 3   bmi                          7746 non-null   float64
 4   elective_surgery             9368 non-null   int64
 5   ethnicity                    9368 non-null   object
 6   gender                       9368 non-null   object
 7   height                       9368 non-null   float64
 8   hospital_admit_source        8518 non-null   object
 9   icu_admit_source             9347 non-null   object
 10  icu_id                       9368 non-null   int64
 11  icu_stay_type                9368 non-null   object
 12  icu_type                     9368 non-null   object
 13  pre_icu_los_days             9368 non-null   float64
 14  readmission_status           9368 non-null   int64
 15  weight                       9368 non-null   float64
 16  albumin_apache               3322 non-null   float64
 17  apache_2_diagnosis           9191 non-null   float64
 18  apache_3j_diagnosis          9319 non-null   float64
 19  apache_post_operative        9368 non-null   int64
 20  arf_apache                   9368 non-null   int64
 21  bilirubin_apache             3198 non-null   float64
 22  bun_apache                   6996 non-null   float64
 23  creatinine_apache            7121 non-null   float64
 24  fio2_apache                  2785 non-null   float64
 25  gcs_eyes_apache              9303 non-null   float64
 26  gcs_motor_apache             9303 non-null   float64
 27  gcs_unable_apache            9307 non-null   float64
 28  gcs_verbal_apache            9303 non-null   float64
 29  glucose_apache               8360 non-null   float64
 30  heart_rate_apache            9367 non-null   float64
 31  hematocrit_apache            7489 non-null   float64
 32  intubated_apache             9368 non-null   int64
 33  map_apache                   9356 non-null   float64
 34  paco2_apache                 2785 non-null   float64
 35  paco2_for_ph_apache          2785 non-null   float64
 36  pao2_apache                  2785 non-null   float64
 37  ph_apache                    2785 non-null   float64
 38  resprate_apache              9335 non-null   float64
 39  sodium_apache                7047 non-null   float64
 40  temp_apache                  9283 non-null   float64
 41  urineoutput_apache           1387 non-null   float64
 42  ventilated_apache            9368 non-null   int64
 43  wbc_apache                   7314 non-null   float64
 44  aids                         9368 non-null   int64
 45  cirrhosis                    9368 non-null   int64
 46  hepatic_failure              9368 non-null   int64
 47  immunosuppression            9368 non-null   int64
 48  leukemia                     9368 non-null   int64
 49  lymphoma                     9368 non-null   int64
 50  solid_tumor_with_metastasis  9368 non-null   int64
 51  diabetes_mellitus            9368 non-null   int64
dtypes: float64(29), int64(17), object(6)
memory usage: 3.8+ MB
NaNs filled with means for height, weight columns>>>>
 None

## e. Generate dummies for ethnicity column (One hot encoding).

In [73]:
df = generate(df, columns_l = ['ethnicity'])
print('NaNs filled with means for height, weight columns>>>>\n', df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9368 entries, 0 to 9999
Data columns (total 57 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 9368 non-null   int64
 1   hospital_id                  9368 non-null   int64
 2   age                          9368 non-null   float64
 3   bmi                          7746 non-null   float64
 4   elective_surgery             9368 non-null   int64
 5   gender                       9368 non-null   object
 6   height                       9368 non-null   float64
 7   hospital_admit_source        8518 non-null   object
 8   icu_admit_source             9347 non-null   object
 9   icu_id                       9368 non-null   int64
 10  icu_stay_type                9368 non-null   object
 11  icu_type                     9368 non-null   object
 12  pre_icu_los_days             9368 non-null   float64
 13  readmission_status           9368 non-null   int64
 14  weight                       9368 non-null   float64
 15  albumin_apache               3322 non-null   float64
 16  apache_2_diagnosis           9191 non-null   float64
 17  apache_3j_diagnosis          9319 non-null   float64
 18  apache_post_operative        9368 non-null   int64
 19  arf_apache                   9368 non-null   int64
 20  bilirubin_apache             3198 non-null   float64
 21  bun_apache                   6996 non-null   float64
 22  creatinine_apache            7121 non-null   float64
 23  fio2_apache                  2785 non-null   float64
 24  gcs_eyes_apache              9303 non-null   float64
 25  gcs_motor_apache             9303 non-null   float64
 26  gcs_unable_apache            9307 non-null   float64
 27  gcs_verbal_apache            9303 non-null   float64
 28  glucose_apache               8360 non-null   float64
 29  heart_rate_apache            9367 non-null   float64
 30  hematocrit_apache            7489 non-null   float64
 31  intubated_apache             9368 non-null   int64
 32  map_apache                   9356 non-null   float64
 33  paco2_apache                 2785 non-null   float64
 34  paco2_for_ph_apache          2785 non-null   float64
 35  pao2_apache                  2785 non-null   float64
 36  ph_apache                    2785 non-null   float64
 37  resprate_apache              9335 non-null   float64
 38  sodium_apache                7047 non-null   float64
 39  temp_apache                  9283 non-null   float64
 40  urineoutput_apache           1387 non-null   float64
 41  ventilated_apache            9368 non-null   int64
 42  wbc_apache                   7314 non-null   float64
 43  aids                         9368 non-null   int64
 44  cirrhosis                    9368 non-null   int64
 45  hepatic_failure              9368 non-null   int64
 46  immunosuppression            9368 non-null   int64
 47  leukemia                     9368 non-null   int64
 48  lymphoma                     9368 non-null   int64
 49  solid_tumor_with_metastasis  9368 non-null   int64
 50  diabetes_mellitus            9368 non-null   int64
 51  ethnicity_African American   9368 non-null   uint8
 52  ethnicity_Asian              9368 non-null   uint8
 53  ethnicity_Caucasian          9368 non-null   uint8
 54  ethnicity_Hispanic           9368 non-null   uint8
 55  ethnicity_Native American    9368 non-null   uint8
 56  ethnicity_Other/Unknown      9368 non-null   uint8
dtypes: float64(29), int64(17), object(5), uint8(6)
memory usage: 3.8+ MB
NaNs filled with means for height, weight columns>>>>
 None

### f. Create a binary variable for gender M/F.

In [74]:
df = binarize(df, init_column_name='gender', binarized_column_name='M/F')
print('Binarized gender column to M/F>>>>\n', df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9368 entries, 0 to 9999
Data columns (total 57 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 9368 non-null   int64
 1   hospital_id                  9368 non-null   int64
 2   age                          9368 non-null   float64
 3   bmi                          7746 non-null   float64
 4   elective_surgery             9368 non-null   int64
 5   height                       9368 non-null   float64
 6   hospital_admit_source        8518 non-null   object
 7   icu_admit_source             9347 non-null   object
 8   icu_id                       9368 non-null   int64
 9   icu_stay_type                9368 non-null   object
 10  icu_type                     9368 non-null   object
 11  pre_icu_los_days             9368 non-null   float64
 12  readmission_status           9368 non-null   int64
 13  weight                       9368 non-null   float64
 14  albumin_apache               3322 non-null   float64
 15  apache_2_diagnosis           9191 non-null   float64
 16  apache_3j_diagnosis          9319 non-null   float64
 17  apache_post_operative        9368 non-null   int64
 18  arf_apache                   9368 non-null   int64
 19  bilirubin_apache             3198 non-null   float64
 20  bun_apache                   6996 non-null   float64
 21  creatinine_apache            7121 non-null   float64
 22  fio2_apache                  2785 non-null   float64
 23  gcs_eyes_apache              9303 non-null   float64
 24  gcs_motor_apache             9303 non-null   float64
 25  gcs_unable_apache            9307 non-null   float64
 26  gcs_verbal_apache            9303 non-null   float64
 27  glucose_apache               8360 non-null   float64
 28  heart_rate_apache            9367 non-null   float64
 29  hematocrit_apache            7489 non-null   float64
 30  intubated_apache             9368 non-null   int64
 31  map_apache                   9356 non-null   float64
 32  paco2_apache                 2785 non-null   float64
 33  paco2_for_ph_apache          2785 non-null   float64
 34  pao2_apache                  2785 non-null   float64
 35  ph_apache                    2785 non-null   float64
 36  resprate_apache              9335 non-null   float64
 37  sodium_apache                7047 non-null   float64
 38  temp_apache                  9283 non-null   float64
 39  urineoutput_apache           1387 non-null   float64
 40  ventilated_apache            9368 non-null   int64
 41  wbc_apache                   7314 non-null   float64
 42  aids                         9368 non-null   int64
 43  cirrhosis                    9368 non-null   int64
 44  hepatic_failure              9368 non-null   int64
 45  immunosuppression            9368 non-null   int64
 46  leukemia                     9368 non-null   int64
 47  lymphoma                     9368 non-null   int64
 48  solid_tumor_with_metastasis  9368 non-null   int64
 49  diabetes_mellitus            9368 non-null   int64
 50  ethnicity_African American   9368 non-null   uint8
 51  ethnicity_Asian              9368 non-null   uint8
 52  ethnicity_Caucasian          9368 non-null   uint8
 53  ethnicity_Hispanic           9368 non-null   uint8
 54  ethnicity_Native American    9368 non-null   uint8
 55  ethnicity_Other/Unknown      9368 non-null   uint8
 56  M/F                          9368 non-null   uint8
dtypes: float64(29), int64(17), object(4), uint8(7)
memory usage: 3.7+ MB
Binarized gender column to M/F>>>>
 None

# b. Split the data between train and test. (you can use train_test_split from sklearn or any other way)

In [75]:
X_train, X_test, y_train, y_test = split(data=df, target='diabetes_mellitus')

print(X_train)

      encounter_id  hospital_id   age        bmi  elective_surgery  height  \
4731        194008          118  79.0  40.546531                 0   162.6
5783        150184           81  85.0        NaN                 0   157.5
6572        237953           77  46.0        NaN                 1   182.9
8247        219591          137  88.0  27.302230                 0   175.3
1516        162123           77  65.0  35.080682                 1   177.8
...            ...          ...   ...        ...               ...     ...
2303        191839          118  59.0        NaN                 0   165.1
8313        177145          137  51.0  34.289412                 0   163.8
3534        245727          118  59.0  23.526066                 0   162.6
43          179524           31  52.0  23.039099                 0   165.1
3549        271596          118  31.0  19.228087                 0   170.2

     hospital_admit_source           icu_admit_source  icu_id icu_stay_type  \
4731                 Floor                      Floor      92         admit
5783                   NaN       Accident & Emergency      90         admit
6572                   NaN       Accident & Emergency      87         admit
8247                 Floor                      Floor     143         admit
1516        Operating Room  Operating Room / Recovery      87         admit
...                    ...                        ...     ...           ...
2303          Direct Admit       Accident & Emergency     114         admit
8313          Direct Admit       Accident & Emergency     143         admit
3534  Emergency Department       Accident & Emergency      99         admit
43    Emergency Department       Accident & Emergency      83         admit
3549  Emergency Department       Accident & Emergency      99         admit

      ... leukemia  lymphoma  solid_tumor_with_metastasis  \
4731  ...        0         0                            0
5783  ...        0         0                            0
6572  ...        0         0                            0
8247  ...        0         0                            0
1516  ...        0         0                            0
...   ...      ...       ...                          ...
2303  ...        0         0                            0
8313  ...        0         0                            0
3534  ...        0         0                            0
43    ...        0         0                            0
3549  ...        0         0                            0

      ethnicity_African American  ethnicity_Asian  ethnicity_Caucasian  \
4731                           0                0                    1
5783                           0                0                    1
6572                           0                0                    1
8247                           0                0                    1
1516                           0                0                    1
...                          ...              ...                  ...
2303                           0                0                    1
8313                           0                0                    1
3534                           1                0                    0
43                             0                0                    1
3549                           1                0                    0

      ethnicity_Hispanic  ethnicity_Native American  ethnicity_Other/Unknown  \
4731                   0                          0                        0
5783                   0                          0                        0
6572                   0                          0                        0
8247                   0                          0                        0
1516                   0                          0                        0
...                  ...                        ...                      ...
2303                   0                          0                        0
8313                   0                          0                        0
3534                   0                          0                        0
43                     0                          0                        0
3549                   0                          0                        0

      M/F
4731    0
5783    0
6572    1
8247    1
1516    1
...   ...
2303    0
8313    0
3534    0
43      0
3549    1

[7494 rows x 56 columns]

In [76]:
print('X_train.shape>>', X_train.shape)
print('X_test.shape>>', X_test.shape)
print('y_train.shape>>', y_train.shape)
print('y_test.shape>>', y_test.shape)

X_train.shape>> (7494, 56)
X_test.shape>> (1874, 56)
y_train.shape>> (7494,)
y_test.shape>> (1874,)

### g. Train a model (for instance LogisticRegression or RandomForestClassifier from sklearn) in the train data. Use as features the columns: ‘age’, ‘height’, ‘weight’, ‘aids’, ‘cirrhosis’, ‘hepatic_failure’, ‘immunosuppression’, ‘leukemia’, ‘lymphoma’, ‘solid_tumor_with_metastasis’. Use as target the column: ‘diabetes_mellitus’

In [77]:
trained_model = train(model='rf', X_train=X_train, y_train=y_train, X_features_l=X_FEATURES)

print('trained_model>>', trained_model)

trained_model>> RandomForestClassifier()

### h. Predict the targets for both the train and test sets and add the prediction as a new column (use predict_proba from the model to get the predicted probabilities) name the new column something like predictions.

In [78]:
y_train, y_test = predict(trained_model, X_train, y_train, X_test, y_test, X_features_l=X_FEATURES)

print('y_train>>>', y_train)
print('y_test>>>', y_test)

y_train>>>       diabetes_mellitus  predictions
4731                  1     0.840000
5783                  0     0.241667
6572                  0     0.644381
8247                  0     0.038571
1516                  1     0.700000
...                 ...          ...
2303                  0     0.077667
8313                  0     0.110000
3534                  0     0.010000
43                    0     0.030000
3549                  0     0.210000

[7494 rows x 2 columns]
y_test>>>       diabetes_mellitus  predictions
6561                  1     0.220000
847                   1     0.570000
6509                  0     0.000000
7459                  0     0.280000
5980                  0     0.373714
...                 ...          ...
2440                  0     0.149167
5578                  0     0.453333
1076                  0     0.315255
3428                  0     0.018333
825                   0     0.246667

[1874 rows x 2 columns]

### i. Compute the train and test roc_auc metric using roc_auc_score from sklearn.

In [79]:
print('AUC ROC score Train: ', roc_auc(y_train['diabetes_mellitus'], y_train['predictions']))
print('AUC ROC score Test: ', roc_auc(y_test['diabetes_mellitus'], y_test['predictions']))

AUC ROC score Train:  0.9981218638135233
AUC ROC score Test:  0.5983142226631561

# clearly Random forest overfits while logistic regression does not if you change model in function trained_model = train(model='rf', X_train=X_train, y_train=y_train, X_features_l=X_FEATURES) to lr

In [80]:
X_train, X_test, y_train, y_test = split(data=df, target='diabetes_mellitus')

print(X_train)

trained_model = train(model='lr', X_train=X_train, y_train=y_train, X_features_l=X_FEATURES)

print('trained_model>>', trained_model)

      encounter_id  hospital_id   age        bmi  elective_surgery  height  \
4731        194008          118  79.0  40.546531                 0   162.6
5783        150184           81  85.0        NaN                 0   157.5
6572        237953           77  46.0        NaN                 1   182.9
8247        219591          137  88.0  27.302230                 0   175.3
1516        162123           77  65.0  35.080682                 1   177.8
...            ...          ...   ...        ...               ...     ...
2303        191839          118  59.0        NaN                 0   165.1
8313        177145          137  51.0  34.289412                 0   163.8
3534        245727          118  59.0  23.526066                 0   162.6
43          179524           31  52.0  23.039099                 0   165.1
3549        271596          118  31.0  19.228087                 0   170.2

     hospital_admit_source           icu_admit_source  icu_id icu_stay_type  \
4731                 Floor                      Floor      92         admit
5783                   NaN       Accident & Emergency      90         admit
6572                   NaN       Accident & Emergency      87         admit
8247                 Floor                      Floor     143         admit
1516        Operating Room  Operating Room / Recovery      87         admit
...                    ...                        ...     ...           ...
2303          Direct Admit       Accident & Emergency     114         admit
8313          Direct Admit       Accident & Emergency     143         admit
3534  Emergency Department       Accident & Emergency      99         admit
43    Emergency Department       Accident & Emergency      83         admit
3549  Emergency Department       Accident & Emergency      99         admit

      ... leukemia  lymphoma  solid_tumor_with_metastasis  \
4731  ...        0         0                            0
5783  ...        0         0                            0
6572  ...        0         0                            0
8247  ...        0         0                            0
1516  ...        0         0                            0
...   ...      ...       ...                          ...
2303  ...        0         0                            0
8313  ...        0         0                            0
3534  ...        0         0                            0
43    ...        0         0                            0
3549  ...        0         0                            0

      ethnicity_African American  ethnicity_Asian  ethnicity_Caucasian  \
4731                           0                0                    1
5783                           0                0                    1
6572                           0                0                    1
8247                           0                0                    1
1516                           0                0                    1
...                          ...              ...                  ...
2303                           0                0                    1
8313                           0                0                    1
3534                           1                0                    0
43                             0                0                    1
3549                           1                0                    0

      ethnicity_Hispanic  ethnicity_Native American  ethnicity_Other/Unknown  \
4731                   0                          0                        0
5783                   0                          0                        0
6572                   0                          0                        0
8247                   0                          0                        0
1516                   0                          0                        0
...                  ...                        ...                      ...
2303                   0                          0                        0
8313                   0                          0                        0
3534                   0                          0                        0
43                     0                          0                        0
3549                   0                          0                        0

      M/F
4731    0
5783    0
6572    1
8247    1
1516    1
...   ...
2303    0
8313    0
3534    0
43      0
3549    1

[7494 rows x 56 columns]
trained_model>> LogisticRegression()

In [81]:
y_train, y_test = predict(trained_model, X_train, y_train, X_test, y_test, X_features_l=X_FEATURES)

print('y_train>>>', y_train)
print('y_test>>>', y_test)

y_train>>>       diabetes_mellitus  predictions
4731                  1     0.442973
5783                  0     0.390512
6572                  0     0.123382
8247                  0     0.281255
1516                  1     0.299137
...                 ...          ...
2303                  0     0.231314
8313                  0     0.229210
3534                  0     0.152150
43                    0     0.127921
3549                  0     0.064774

[7494 rows x 2 columns]
y_test>>>       diabetes_mellitus  predictions
6561                  1     0.199698
847                   1     0.386706
6509                  0     0.111578
7459                  0     0.165193
5980                  0     0.157344
...                 ...          ...
2440                  0     0.164091
5578                  0     0.206687
1076                  0     0.265802
3428                  0     0.160943
825                   0     0.151273

[1874 rows x 2 columns]

In [82]:
print('AUC ROC score Train: ', roc_auc(y_train['diabetes_mellitus'], y_train['predictions']))
print('AUC ROC score Test: ', roc_auc(y_test['diabetes_mellitus'], y_test['predictions']))

AUC ROC score Train:  0.6698929077986007
AUC ROC score Test:  0.665457543150049

# AUC dropped to around 67% but it is consistent across both train and test sets, also maybe underfitted as well..